@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Reem Kufi", sans-serif;
	overflow-x: hidden;
	background-color: "#E6E8EC";
}
/* * {
	border: 1px solid #000;
} */

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@font-face {
}

/* @media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
} */

/* BACKGROUND LAYOUTS STARTING FROM THE TOP PAGE */

/* .hero::after {
	position: absolute;
	content: url("../public/hero-gradient.svg");
	z-index: -2;
	top: -5%;
	left: 47%;
	width: 255%;
	height: 128%;
}

@media (min-width: 768px) {
	.hero::after {
		top: -18%;
		left: 60%;
		width: 1682px;
		height: 1882px;
	}
} */
#blog {
	overflow: hidden;
}

.blog::after {
	position: absolute;
	content: url("../public/blog-gradient.svg");

	z-index: -1;
	top: -34rem;
	opacity: 0.6;
	left: 22%;
	width: 161rem;
	height: 70rem;
	transform: rotate(5deg);
}
/* .about {
	overflow: hidden;
} */
.about::after {
	position: absolute;
	content: url("../public/about-gradient2.svg");
	z-index: -2;
	opacity: 0.8;
	top: -70rem;
	right: -10rem;
}
@media (min-width: 768px) {
	.about::after {
		top: -50rem;
		right: 15rem;
	}
}

.about::before {
	position: absolute;
	content: url("../public/about-gradient.svg");
	z-index: -2;
	top: 88%;
	display: none;
	transform: rotate(-10deg);
}
@media (min-width: 976px) {
	.about::before {
		display: block;
		left: 9rem;
		width: 20%;
	}
}

.offer::before {
	position: absolute;
	content: url("../public/offer-gradient.svg");
	z-index: -1;
	top: -25%;
	right: -10%;
	width: 90%;
	height: 100%;
}
.offer::after {
	position: absolute;
	content: url("../public/offer-gradient2.svg");
	z-index: -1;
	right: -47%;
	width: 91%;
}

@media (min-width: 768px) {
	.offer::after {
		bottom: 17%;
		left: -70%;
		height: 97%;
		width: 83%;
	}
}
@media (min-width: 976px) {
	.offer::after {
		bottom: 60%;
	}
}
@media (min-width: 768px) {
	.offer::before {
		top: -21%;
		right: -54%;
	}
}
footer {
	overflow: hidden;
}

.footer__container::before {
	position: absolute;
	content: url("../public/footer-gradient.svg");
	left: -5rem;
	top: -10rem;
	z-index: 1;
	width: 70%;
	height: 50%;
}
@media (min-width: 768px) {
	.footer__container::before {
		left: -20%;
		top: -46%;
		height: 10%;
		width: auto;
		z-index: -1;
		width: 400px;
		height: auto;
	}
}
/* show circle icon when active */
.nav__link {
	position: relative;
}
.nav__link::after {
	position: absolute;
	content: url("../public/circle.svg");
	bottom: 0;
	right: -125%;
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: opacity ease 0.3s ease;
}

@media (min-width: 976px) {
	.nav__link::after {
		bottom: -36px;
		left: 10px;
		right: 0;
	}
}

.nav__link.active.nav__link::after {
	opacity: 1;
}

.features__list {
	justify-content: center;
	align-items: center;
	list-style-image: url("../public/circle.svg");
}
.features__list li {
	list-style: none;
	display: flex;
	align-content: center;
}
.features__list li::before {
	content: "";
	display: inline-block;
	height: 24px;
	width: 24px;
	margin-right: 1rem;

	background-image: url("../public/circle.svg");
}

#features picture {
	position: relative;
}
#features picture::before {
	position: absolute;
	top: -70%;
	right: 150%;
	content: url("../public/features-gradient.svg");
	z-index: -1;
	height: 100%;
	width: 100%;
}

.gradient {
	height: auto;
	background: linear-gradient(
		#ecbd79 0%,
		rgba(236, 194, 108, 0.99) 26.05%,
		#eaba86 66.67%,
		#ecb479 100%
	);
}

/* About-us */

.about-us__picture {
	position: relative;
}

.about-us__picture::after {
	position: absolute;
	content: "";
	top: -3%;
	left: 0%;
	bottom: -8%;
	width: 70%;
	height: auto;
	border: 2px solid rgba(236, 194, 108, 0.99);
	background: white;
	z-index: -1;
	border-radius: 25px;
}
/* about */

.the-movie__info {
	position: relative;
}
.the-movie__info::before {
	position: absolute;
	content: "";
	top: -10%;
	left: -5%;
	bottom: -120%;
	width: 100%;
	/* height: auto; */
	border: 2px solid rgba(236, 194, 108, 0.99);
	background: white;
	z-index: -1;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
@media (min-width: 768px) {
	.the-movie__info::before {
		top: -21%;
		left: -22%;
		width: 97%;
		height: 135%;
	}
}
@media (min-width: 976px) {
	.the-movie__info::before {
		left: -65%;
		width: 150%;
		height: 135%;
	}
}

.the-movie__screen {
	position: relative;
	z-index: 2;
}

@media (min-width: 1440px) {
	.the-movie__screen img {
		width: 100%;
	}
}

@media (min-width: 976px) {
	.here__iframe {
		width: calc(100% + 5rem);
		transform: translateX(-5rem);
	}
}

/* posts */
#posts {
	position: relative;
}

@media (min-width: 1440px) {
	#posts::after {
		position: absolute;
		content: url("../public/JAR-FLOWERS.png");
		right: -45px;
		bottom: 55px;
		height: 10%;
		width: auto;
		z-index: 1;
	}
}

/* last posts */

.last-posts__item {
	position: relative;
	transform: translateX(10px);
}

li.last-posts {
	transform: translateX(2rem);
}
.last-posts__slider::-webkit-scrollbar {
	width: 20px;
}

*::-webkit-scrollbar-track {
	background: linear-gradient(
		#ecbd79 0%,
		rgba(236, 194, 108, 0.69) 26.05%,
		#eaba86 92.67%,
		#ecb479 100%
	);

	border-radius: 25px;
}

/* carousel animation */

.marquee {
	position: relative;
	width: 100%;
}
.track {
	display: grid;
}

@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-20%);
	}
}

@media (min-width: 768px) {
	.marquee {
		position: relative;
		height: 400px;
		width: 300%;
		overflow-x: hidden;
	}

	.track {
		display: flex;
		position: absolute;
		white-space: nowrap;
		will-change: transform;
		animation: marquee 5s linear infinite;
		width: 300%;
	}

	.track {
		animation: marquee 50s linear infinite;
	}
	@keyframes marquee {
		from {
			transform: translateX(5%);
		}
		to {
			transform: translateX(-20%);
		}
	}
}
.track:hover {
	animation-play-state: paused;
}
