@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Reem Kufi", sans-serif;

	background-color: "#E6E8EC";
}
/* * {
	border: 1px solid #000;
} */

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@font-face {
}

/* @media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
} */

/* layot background */

.layout {
	position: relative;
	overflow: hidden;
}
.layout::after {
	position: absolute;
	content: url("../public/hero-gradient.png");
	z-index: -1;
	top: 0;
	left: 54%;
	width: 100%;
	height: 100%;
}

/* .btn-empty {
	position: relative;
	display: block;
}
.btn-empty::before {
	position: absolute;
	content: url("../public/rapeseed-btn.svg");

	top: -33px;
	left: -21px;
	display: block;
} */

/* show circle icon when hovering */
.nav__link {
	position: relative;
}
.nav__link::after {
	position: absolute;
	content: url("../public/circle.svg");
	bottom: -36px;
	left: 10px;
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: opacity ease 0.3s ease;
}

.nav__link:hover.nav__link::after,
.nav__link.active.nav__link::after {
	opacity: 1;
}

.features__list {
	justify-content: center;
	align-items: center;
	list-style-image: url("../public/circle.svg");
}
.features__list li {
	list-style: none;
	display: flex;
	align-content: center;
}
.features__list li::before {
	content: "";
	display: inline-block;
	height: 24px;
	width: 24px;
	margin-right: 1rem;

	background-image: url("../public/circle.svg");
}

#features picture {
	position: relative;
}
#features picture::before {
	position: absolute;
	top: 0;
	right: 0;
	content: url("../public/features-gradient.svg");
	z-index: -1;
	height: 150%;
	width: 150%;
}
.testimonials__card:last-child {
	position: relative;
}
.testimonials__card:last-child::after {
	position: absolute;
	top: -240px;
	left: 150px;
	content: url("../public/testimonials-gradient.svg");
	z-index: -1;
}
.gradient {
	width: 100vw;
	height: auto;
	background: linear-gradient(
		#ecbd79 0%,
		rgba(236, 194, 108, 0.99) 26.05%,
		#eaba86 66.67%,
		#ecb479 100%
	);
}

/* About-us */

.about-us__picture {
	position: relative;
}

.about-us__picture::after {
	position: absolute;
	content: "";
	top: -3%;
	left: 0%;
	bottom: -8%;
	width: 70%;
	height: auto;
	border: 2px solid orange;
	background: white;
	z-index: -1;
	border-radius: 25px;
}
.about-us__picture::before {
	position: absolute;
	content: url("../public/about/about-gradient.svg");
	top: 30%;
	left: -40%;
	z-index: -1;
	height: 100%;
	width: 100%;
}

/* about */

.the-movie__info {
	position: relative;
}
.the-movie__info::before {
	position: absolute;
	content: "";
	top: -10%;
	left: -5%;
	bottom: -120%;
	width: 100%;
	/* height: auto; */
	border: 2px solid orange;
	background: white;
	z-index: -1;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
@media (min-width: 768px) {
	.the-movie__info::before {
		top: -21%;
		left: -22%;
		width: 97%;
		height: 135%;
	}
}
@media (min-width: 976px) {
	.the-movie__info::before {
		left: -65%;
		width: 150%;
		height: 135%;
	}
}

.the-movie__screen {
	position: relative;
	z-index: 2;
}
.the-movie__screen::after {
	position: absolute;
	content: "";
	right: 10%;
	left: 10%;
	bottom: -5%;
	width: 80%;
	height: 80%;
	background: linear-gradient(
		#ecbd79 0%,
		rgba(236, 194, 108, 0.99) 26.05%,
		#eaba86 66.67%,
		#ecb479 100%
	);
	z-index: -1;
	border-radius: 50px;
}
@media (min-width: 768px) {
	.the-movie__screen::after {
		left: 10%;
		width: 80%;
	}
}
@media (min-width: 976px) {
	.the-movie__screen::after {
		right: 0%;
		left: 10%;
		width: 80%;
		height: 80%;
	}
}

@media (min-width: 1440px) {
	.the-movie__screen img {
		width: 100%;
	}
}

/* map */
#here {
	position: relative;
}

@media (min-width: 768px) {
	#here::after {
		position: absolute;
		content: "";
		right: 0%;
		left: 0%;
		bottom: -5%;
		width: 100%;
		height: 25%;
		background: linear-gradient(
			#ecbd79 0%,
			rgba(236, 194, 108, 0.99) 26.05%,
			#eaba86 66.67%,
			#ecb479 100%
		);
		z-index: -1;
		border-radius: 25px;
	}
}
@media (min-width: 976px) {
	.here__iframe {
		width: calc(100% + 5rem);
		transform: translateX(-5rem);
	}
}

/* posts */
#posts {
	position: relative;
}

@media (min-width: 1440px) {
	#posts::before {
		position: absolute;
		content: "";
		right: 0%;
		left: 0%;
		bottom: -5%;
		width: 100%;
		height: 45px;
		background: linear-gradient(
			#ecbd79 0%,
			rgba(236, 194, 108, 0.99) 26.05%,
			#eaba86 66.67%,
			#ecb479 100%
		);
		z-index: -1;
		border-radius: 25px;
	}
	#posts::after {
		position: absolute;
		content: url("../public/posts/JAR-ACACIA--small.png");
		right: -45px;
		bottom: 55px;
		height: 10%;
		width: auto;
		z-index: 1;
		/* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
		/* filter: drop-shadow(5px 5px 4px rgba(236, 194, 108, 0.99)); */
	}
}
